
body{
	background-color: green;
	color: black;
	font-family: Veranda;
    
}


h1 {
	text-align: center;
	
}


.szovegdoboz {
	
	display: flex;
	flex-wrap: wrap;

}



.container {
	
	
display: grid;
height: 100vh;
grid-template-columns: 1fr 1fr 1fr 1fr; 
grid-template-areas: "nav nav nav nav"
                     "oszlop main  main  main"
                      "oszlop hossz terulet terfogat"					  
					  "oszlop tomeg sebesseg suruseg"
					  "oszlop footer footer footer";
					  
					  grid-gaps: 0.2rem;
}


nav {
	
background-color: grey;
grid-area: nav;	
}

.jo {
	width: 1.2em;
	
}

#oszlop {
	background-color: green;
	grid-area: oszlop;
    	
}

tr , td , th {

border: solid 2px black;
background-color: orange;
}



#hossz {
	
background-color: yellow;	
grid-area: hossz;
}


#ido {
	flex: 1;
	order: 1;
	background-color: red;
	grid-area: ido;
}



#terfogat {

background-color: brown;	
	grid-area: terfogat;
}


#terulet {
	background-color: orange;
	grid-area: terulet;
}


#homerseklet {
flex:1;
order: 3;
background-color: blue;
	
}

#darab {
	background-color: white;
    flex:1;
	order:2;
	
	grid-area: darab;
}

#main {
	
	background-color: darkgreen;
	grid-area: main;
}


#sebesseg {
	
	
}


.container4 {
	
	height: 300px;
	
	
	
	
}

#lab {
	
	background-color: orange;
	grid-area: footer;
}



.container2 {
	display: flex;
	border: black 1px solid;
	padding: 10px;
}

.container2 > div {
	border: black 1px solid;
	padding: 10px;
	
	
}

.container3 {
	display: flex;

	border: black 1px solid;
	padding: 10px;
}

.container4 > div {
	border: black 1px solid;
	padding: 10px;
	
	
}

.container4 {
	display: flex;
	border: black 1px solid;
	padding: 10px;
}

.container3 > div {
	border: black 1px solid;
	padding: 10px;
}

h1:hover, h3:hover, ul:hover , p:hover , a:hover{
	color: pink;
	
	}

a:visited {
	color: purple;
	
}

input[type="submit"] {
	
	background-color: green;
	
}



#tomeg {
	
	background-color: grey;
  grid-area: tomeg;
}


#penz {
	flex:1;
	order:1;
	background-color: silver;
}

#suruseg{
	

	background-color: lightblue;
	grid-area:  suruseg;
}


#sebesseg {
	
	background-color: red;
 grid-area: sebesseg;	
}

#byte {

flex:1;
order:2;
background-color: brown;
}

#hang {

flex:1;
order:3;
background-color: orange;
}




@media only screen and (max-width: 500px) {
	
	
	
	
	
.container {
	grid-template-columns: 1fr;
	grid-template-rows:  0.4fr  2.2fr  1.1fr  1.5fr  1.3fr  1.6fr  2fr  1fr  1.8fr  1.2fr;
	grid-template-areas:
	"nav"
	"main"
	"oszlop"
	"hossz"
	"terulet"
	"terfogat"
	"tomeg"
	"sebesseg"
	"suruseg"
	"footer"
	
}

.container2{



flex-direction: column;


}	

	.container3{


flex-direction: column;


}	
.container4{


flex-direction: column;


}		
	


}

#echo {
	width: 60%;
	
}


footer > p {
	text-align: right;
	
}

#kepek > li:nth-child(even) {
	
	background-color: brown;

}



#kepek > li:nth-child(even) {
	
	background-color: orange;

}

#forras {
	
	display:block;
	margin-left:auto;
	margin-right:auto;
	
}





/* ul {
	align-items: none;
	
}*/





